body{
    width: 100%;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    /* background-color: rgb(236, 226, 226); */
    background-color: #F9C0AB;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    text-align: center;
    background-color: #F4E0AF;
    /* background-color: rgba(187, 27, 204, 100); */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 18px 15px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 90%;
}

.game-container h1{
    font-size: 2em;
    color: #333333;
    margin-bottom: 20px;
}

input{
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #00aaff;
    border-radius: 5px;
    margin-bottom: 20px;
}

button{
    background-color: #00aaff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    color: white;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#guessButton:hover{
    background-color: #0077cc;
}

#message{
    font-size: 1.2em;
    color: #333333;
    margin-top: 30px;
}

#restartButton{
    background-color: #28a745;
}

#restartButton:hover{
    background-color: #218838;
}

@media (max-width: 320px){
    .game-container{
        /* background-color: red; */
        margin: 0 50px;

    }
    .game-container h1{
        font-size: 2em;
    }

    .game-container p {
        font-size: 0.8em;
    }
}